
input:focus ~ label,
textarea:focus ~ label,
input:valid ~ label,
textarea:valid ~ label {
    font-size: 0.8em;
    color: #5be1e5;
    top: -15px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
    background: #fff;
    padding: 7px 6px;
    left: 10px;
    font-weight: bold;
}

.services {
    color: #0d3c41;
}

.style-form-input {
    float: left;
    width: 295px;
    margin: 1em 0;
    position: relative;
    border-radius: 4px;
}

.form-control {
    border: 1px solid var(--global-green) ;
}

.right {
    float: right;
}

@media only screen and (max-width: 768px) {
    .style-form-input {
        width: 100%;
    }
}

.style-form-input label {
    color: #999;
    padding: 7px 15px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.style-form-input.full {
    width: 650px;
    max-width: 100%;
}

input,
select,
textarea {
    width: 100%;
    padding: 15px;
    border: 0;
    font-size: 1em;
    background-color: #ffffff;
    color: #6b6b6b;
    border-radius: 6px;
    border: 1px #eeecec solid;
    transition: padding-left 0.2s ease; /* Added transition property */
}

input:focus,
textarea:focus {
    outline: 0;
}
textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
     color: black;
     opacity: 0.3; 
}

textarea:focus::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {
    opacity: 0;
}


input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 7em;
}

.container_form {
    width: 650px;
    max-width: 100%;
    overflow: hidden;
    background: #fff;

    border-radius: 3px;
    padding: 1em;
    margin: 20px auto 25px auto;
}

.btn-submit {
    width: 100%;
    color: #fff;
    font-size: 1.2em;
    float: left;
    text-align: center;
    padding: 15px 35px;
    border-radius: 6px;
    display: inline-block;
    background-color: var(--global-green);
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
    transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
    border: none;
}

.btn-submit:hover {
    background-color: #0d3c41;
    transform: translateX(2px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

@media (max-width: 768px) {
    .btn-submit {
        width: 100%;
        float: none;
        text-align: center;
    }
}

input[type="checkbox"] + label {
    color: #ccc;
    font-style: italic;
}

input[type="checkbox"]:checked + label {
    color: #f00;
    font-style: normal;
}

/* .zap{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
} */
